@mixin button-varient($background, $border, $color) {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
  }

  &:hover {
    color: $color;
    background-color: darken($background, 10%);
  }

  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  height: $height;
  line-height: 1;
  border-radius: $border-radius;
}

@mixin button-active {
  color: $color-active;
  border-color: $color-active;
}