.h-button {
  outline: #ffffff none 0 !important;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 8px 12px 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid $border-color-base;
  background-color: $white;
  @include button-size(0, $padding-base-horizontal, $font-size-base, $btn-height-base, $border-radius-base);
  @include user-select(none);

  &:active,
  &:active {

    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    @include button-active;
    text-decoration: none;
  }

  &:active,
  &.active {
    @include button-active;
  }

  &[disabled] {
    color: $disabled-color-base;

    &:hover {
      color: $disabled-color-base;
    }

    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  &.loading {
    cursor: default;
  }

  &.h-button-round {
    border-radius: $border-radius-base;
  }

  &.h-button-circle {
    padding: 0;
    height: $btn-height-base;
    min-width: $btn-height-base;
    border-radius: 50%;

    .iconfont {
      font-size: $font-size-base;
    }
  }
}

.h-button-default {

  &[disabled] {
    border: $disabled-border-style;
    background-color: $disabled-bg-base;

    &:hover {
      border: $disabled-border-base;
      border: $disabled-border-style;
    }
  }
}

.h-button-primary {
  @include button-varient($btn-primary-bg, $btn-primary-border, $white);
}

.h-button-info {
  @include button-varient($btn-info-bg, $btn-info-border, $white);
}

.h-button-success {
  @include button-varient($btn-success-bg, $btn-success-border, $white);
}

.h-button-warning {
  @include button-varient($btn-warning-bg, $btn-warning-border, $white);
}

.h-button-danger {
  @include button-varient($btn-danger-bg, $btn-danger-border, $white);
}

.h-button-dashed {
  border-style: $border-style-dashed;

  &[disabled] {
    &:hover {
      border-color: $disabled-border-base;
    }
  }
}

.h-button-link {
  color: $color-primary;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  box-shadow: none;


  &:focus {
    @extend .h-button-link;
    color: #886dd9;
  }

  &:hover,
  &:active {
    @extend .h-button-link;
    color: $color-primary;
  }

  &[disabled] {
    background-color: transparent;
    border-color: none;
    cursor: not-allowed;
  }
}

.h-button-small {
  &.h-button-round {
    border-radius: $border-radius-small;
  }

  &.h-button-circle {
    height: $btn-height-small;
    min-width: $btn-height-small;

    .iconfont {
      font-size: $font-size-small;
    }
  }

  @include button-size(0, $padding-small-horizontal, $font-size-small, $btn-height-small, $border-radius-small);
}

.h-button-large {
  &.h-button-round {
    border-radius: $border-radius-large;
  }

  &.h-button-circle {
    .iconfont {
      font-size: $font-size-large;
    }

    height: $btn-height-large;
    min-width: $btn-height-large;
  }

  @include button-size(0, $padding-large-horizontal, $font-size-large, $btn-height-large, $border-radius-large);
}

.h-button-loading {
  display: inline-block;
  animation: rotating 1s infinite linear;

  &+span {
    margin-left: 8px;
  }
}

.h-button-icon {
  &+span {
    margin-left: 8px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}