.h-button {
  outline: #ffffff none 0 !important;
  display: inline-block;
  margin: 0 8px 12px 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid $border-color-base;
  background-color: $white;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include user-select(none);

  &:active,
  &:active {

    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    @include button-active;
    text-decoration: none;
  }

  &:active,
  &.active {
    @include button-active;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

.h-button-primary {
  @include button-varient($btn-primary-bg, $btn-primary-border, $white);
}

.h-button-info {
  @include button-varient($btn-info-bg, $btn-info-border, $white);
}

.h-button-success {
  @include button-varient($btn-success-bg, $btn-success-border, $white);
}

.h-button-warning {
  @include button-varient($btn-warning-bg, $btn-warning-border, $white);
}

.h-button-danger {
  @include button-varient($btn-danger-bg, $btn-danger-border, $white);
}

.h-button-dashed {
  border-style: $border-style-dashed;
}

.h-button-link {
  color: $color-primary;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  box-shadow: none;


  &:focus {
    @extend .h-button-link;
    color: #886dd9;
  }

  &:hover,
  &:active {
    @extend .h-button-link;
    color: $color-primary;
  }
}

.h-button-large {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

.h-button-small {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.h-button-loading {
  cursor: $cursor-disabled;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}