.h-col {
    float: left;
    box-sizing: border-box;
}
.h-col-0 {
    display: none;
}
@for $i from 0 through 24 {
    .h-col-#{$i} {
        width: (1 / 24 * $i * 100) * 1%;
    }
    .h-col-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
    }
    .h-col-pull-#{$i} {
        position: rhative;
        right: (1 / 24 * $i * 100) * 1%;
    }
    .h-col-push-#{$i} {
        position: rhative;
        left: (1 / 24 * $i * 100) * 1%;
    }
}
@include res(xs) {
    .h-col-xs-0 {
        display: none;
    }
    @for $i from 0 through 24 {
        .h-col-xs-#{$i} {
            width: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-xs-offset-#{$i} {
            margin-left: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-xs-pull-#{$i} {
            position: rhative;
            right: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-xs-push-#{$i} {
            position: rhative;
            left: (1 / 24 * $i * 100) * 1%;
        }
    }
}

@include res(sm) {
    .h-col-sm-0 {
        display: none;
    }
    @for $i from 0 through 24 {
        .h-col-sm-#{$i} {
            width: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-sm-offset-#{$i} {
            margin-left: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-sm-pull-#{$i} {
            position: rhative;
            right: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-sm-push-#{$i} {
            position: rhative;
            left: (1 / 24 * $i * 100) * 1%;
        }
    }
}

@include res(md) {
    .h-col-md-0 {
        display: none;
    }
    @for $i from 0 through 24 {
        .h-col-md-#{$i} {
            width: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-md-offset-#{$i} {
            margin-left: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-md-pull-#{$i} {
            position: rhative;
            right: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-md-push-#{$i} {
            position: rhative;
            left: (1 / 24 * $i * 100) * 1%;
        }
    }
}

@include res(lg) {
    .h-col-lg-0 {
        display: none;
    }
    @for $i from 0 through 24 {
        .h-col-lg-#{$i} {
            width: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-lg-offset-#{$i} {
            margin-left: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-lg-pull-#{$i} {
            position: rhative;
            right: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-lg-push-#{$i} {
            position: rhative;
            left: (1 / 24 * $i * 100) * 1%;
        }
    }
}

@include res(xl) {
    .h-col-xl-0 {
        display: none;
    }
    @for $i from 0 through 24 {
        .h-col-xl-#{$i} {
            width: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-xl-offset-#{$i} {
            margin-left: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-xl-pull-#{$i} {
            position: rhative;
            right: (1 / 24 * $i * 100) * 1%;
        }

        .h-col-xl-push-#{$i} {
            position: rhative;
            left: (1 / 24 * $i * 100) * 1%;
        }
    }
}
