.h-col {
  float: left;
  padding: 10px 0;
}
.h-col-1 {
  width: 8.33333333%;
}
.h-col-2 {
  width: 16.66666666%;
}
.h-col-3 {
  width: 24.99999999%;
}
.h-col-4 {
  width: 33.33333333%;
}
.h-col-5 {
  width: 41.66666666%;
}
.h-col-6 {
  width: 50%;
}
.h-col-7 {
  width: 58.33333333%;
}
.h-col-8 {
  width: 66.66666666%;
}
.h-col-9 {
  width: 75%;
}
.h-col-10 {
  width: 83.33333333%;
}
.h-col-11 {
  width: 91.66666666%;
}
.h-col-12 {
  width: 100%;
}
.h-col-offset-1 {
  margin-left: 8.33333333%;
}
.h-col-offset-2 {
  margin-left: 16.66666666%;
}
.h-col-offset-3 {
  margin-left: 24.99999999%;
}
.h-col-offset-4 {
  margin-left: 33.33333333%;
}
.h-col-offset-5 {
  margin-left: 41.66666666%;
}
.h-col-offset-6 {
  margin-left: 50%;
}
.h-col-offset-7 {
  margin-left: 58.33333333%;
}
.h-col-offset-8 {
  margin-left: 66.66666666%;
}
.h-col-offset-9 {
  margin-left: 75%;
}
.h-col-offset-10 {
  margin-left: 83.33333333%;
}
.h-col-offset-11 {
  margin-left: 91.66666666%;
}
.h-col-offset-12 {
  margin-left: 100%;
}
.h-col-push-1 {
  left: 8.33333333%;
}
.h-col-push-2 {
  left: 16.66666666%;
}
.h-col-push-3 {
  left: 24.99999999%;
}
.h-col-push-4 {
  left: 33.33333333%;
}
.h-col-push-5 {
  left: 41.66666666%;
}
.h-col-push-6 {
  left: 50%;
}
.h-col-push-7 {
  left: 58.33333333%;
}
.h-col-push-8 {
  left: 66.66666666%;
}
.h-col-push-9 {
  left: 75%;
}
.h-col-push-10 {
  left: 83.33333333%;
}
.h-col-push-11 {
  left: 91.66666666%;
}
.h-col-push-12 {
  left: 100%;
}
.h-col-pull-1 {
  right: 8.33333333%;
}
.h-col-pull-2 {
  right: 16.66666666%;
}
.h-col-pull-3 {
  right: 24.99999999%;
}
.h-col-pull-4 {
  right: 33.33333333%;
}
.h-col-pull-5 {
  right: 41.66666666%;
}
.h-col-pull-6 {
  right: 50%;
}
.h-col-pull-7 {
  right: 58.33333333%;
}
.h-col-pull-8 {
  right: 66.66666666%;
}
.h-col-pull-9 {
  right: 75%;
}
.h-col-pull-10 {
  right: 83.33333333%;
}
.h-col-pull-11 {
  right: 91.66666666%;
}
.h-col-pull-12 {
  right: 100%;
}