.h-row {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.h-row--flex {
  display: flex;
}
.h-row--flex.is-justify-start {
  justify-content: start;
}
.h-row--flex.is-justify-end {
  justify-content: end;
}
.h-row--flex.is-justify-center {
  justify-content: center;
}
.h-row--flex.is-jusity-space-between {
  justify-content: space-between;
}
.h-row--flex.is-jusity-space-around {
  justify-content: space-around;
}
.h-row--flex.is-jusity-space-evenly {
  justify-content: space-evenly;
}
.h-row--flex.is-align-top {
  align-items: flex-start;
}
.h-row--flex.is-align-middle {
  align-items: center;
}
.h-row--flex.is-align-bottom {
  align-items: flex-end;
}